{% extends "base.html" %}

{% block content %}

<h2>Hello World!</h2>

<section>
    <p>
        Professionally, I work as a Data Scientist at <a href="https://www.telefonica.de" target="_blank"> Telefónica, Deutschland</a>.
        I live in Munchen, Germany (the land of Beer, Bavarian Alps and Oktoberfest). When I'm not working, I'm busy reading/listening
        books/audiobooks, filling coloring books, hiking, planning to travel and searching different cuisines to cook.
    </p>
    <p>
        I'm always up for interesting conversations but my favorite topics are - books, series, movies and culture. Currently, I'm
        watching <a href="https://www.imdb.com/title/tt9140554/" target="_blank">Loki</a>, <a href="https://www.imdb.com/title/tt13159924/" target="_blank">
        Gen V</a> and <a href="https://www.imdb.com/title/tt7203552/" target="_blank">The Morning Show</a>.
    </p>
</section>

{% endblock content %}